APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=daily

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

WEB_VERSION="0.0.1"

SCOUT_DRIVER=tntsearch
TNTSEARCH_FUZZINESS=true
TNTSEARCH_BOOLEAN=true

MAIL_FROM_ADDRESS=web@app.com
MAIL_FROM_NAME="Web App"

IOS_STABLE_VERSION="0.0.1"
IOS_MINIMUM_VERSION="0.0.1"

ANDROID_STABLE_VERSION="0.0.1"
ANDROID_MINIMUM_VERSION="0.0.1"

JWT_SECRET=
PUSH_SERVER_URL=

FACEBOOK_APP_ID=2529147083866728
FACEBOOK_APP_SECRET=06d9f6f7c1e062e24a05cc4e4f93bbc4
FACEBOOK_REDIRECT=http://localhost:8000/socialite/facebook/callback

SWEET_ALERT_TIMER=false

PAYNAMICS_IP_ADDRESS=163.47.9.171
PAYNAMICS_MERCHANT_ID=00000003011850BA7C97
PAYNAMICS_MERCHANT_KEY=A897B72B3FB11BB98E652B8C1A127069
PAYNAMICS_GATEWAY_URL=https://testpti.payserv.net/webpayment/Default.aspx

#PAYMAYA_ENV=PRODUCTION
PAYMAYA_ENV=SANDBOX
PAYMAYA_PUBLIC_KEY=pk-eo4sL393CWU5KmveJUaW8V730TTei2zY8zE4dHJDxkF
PAYMAYA_SECRET_KEY=sk-KfmfLJXFdV5t1inYN8lIOwSrueC1G27SCAklBqYCdrU

PRX_PAYPAL_ENV=sandbox
PRX_PAYPAL_BUSINESS=embate64-facilitator@gmail.com
PRX_PAYPAL_RETURN_ROUTE=transaction
PRX_PAYPAL_CANCEL_ROUTE=transaction
PRX_PAYPAL_NOTIFY_ROUTE=prx_paypal.notify_url
PRX_PAYPAL_LISTENER=\App\Listeners\ProcessPayPal