.ftr--holder {

	.nav-item {
		position: relative;
		
		&:after {
			content: '';
			width: 2px;
			height: 20px;
			background-color: $color--white;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		&:last-child {
			border-right: none;

			&:after {
				display: none;
			} 
		}
	}
}