// Colors

$color--primary: #e8627c;
$color--secondary: #EDA61D;
$color--white: #ffffff;
$color--black: #000000;
$color--pink: #feb2af;
$color--orange: #f29163;
$color--light-brown: #C4966B;
$color--light-gray: #c4c4c4;
$color--dark-gray: #292929;
$color--background: #f9f9f9;
$color--light-yellow: #fef584;


// Fonts
$main-font: 'GothamPro', sans-serif;
$secondary-font: 'Gotham-Bold', sans-serif;
$header-font: 'Mr Dafoe', cursive;
